@tailwind base;
@tailwind components;
@tailwind utilities;

.top {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}
.top div{
    white-space: nowrap;
}
.social_media {
    display: flex;
    gap: 16px;
}
main{
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.projects_list {
    display: flex;
    gap: 16px;
    overflow-x: scroll;
}
.project {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 200px;
}
.skills {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(3, 1fr);
}
.skills li{
    border: 1px solid rgba(0, 0, 0, 0.411);
    padding: 4PX;
    border-radius: 16px;
    font-size: 12px;
    text-align: center;
    align-items: center;
}
.latest_projects {
    padding-bottom: 32px;
}