@tailwind base;
@tailwind components;
@tailwind utilities;

.top {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}
.top div{
    white-space: nowrap;
}
.social_media {
    display: flex;
    gap: 16px;
}
main{
    
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}
.projects_list {
    display: flex;
    gap: 16px;
    overflow-x: scroll;
}
.project {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 200px;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
}
.skills li{
    border: 1px solid rgba(255, 255, 255, 0.192);
    padding: 4PX 8px;
    border-radius: 16px;
    font-size: 12px;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 8px;
}
.latest_projects {
    padding: 32px 0 32px 32px;
}
h3 {
    padding: 16px 0;
    text-transform: uppercase;
}
.banner {
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: white;
    padding: 0 32px;
}

.banner_text {
    font-size: 32px;
}
.simple {
  background: linear-gradient(90deg, white 0%, #91afdd 100%);
  font-weight: 600;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}